<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BankFinder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15AC2315249FE31400CEAD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15AC232B249FE31900CEAD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15AC2336249FE31900CEAD71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
